
<section class="showcase">
    <header>
      <h2 class="logo"><i class="fas fa-wave-square header-name "></i>Wander</h2>
    </header>

    <div>
    <!--<div class="overlay"></div>-->
     <div class="overlay"></div>
    <div class="text">
      <h2>Never Stop </h2> 
      <h3>Exploring The World</h3>

      <p>Save your favorite places all over the world, add a description and create a tag. 
        <br>
        This project was created during Ironhack bootcamp in 5 days. </p>
    <a   class="btn btn-primary my-2" href="/login">Login</a>
    <a  class="btn" href="/signup">Register</a>
   
    </div>
  <ul class="social">
      <li><a href="#" class="fas fa-user-alt fa-3x"></a></li>
      <li><a href="#" class="fab fa-github fa-3x"></a></li>
      <li><a href="#" class="fab fa-linkedin fa-3x"></a></li>
    </ul>
  </section>


