
<section class="showcase overlay">
 
    <header>
      <h2 class="logo "><i style="color:var(--landing-font-color)" class="fas fa-wave-square header-name "></i>Wander</h2> 
      
      <div>
  <label class="toogle">
    <input  id="theme-toggle" class=" switch " type="checkbox">
    <span class="d-block-light d-none"></span>
    </label>
</div>
    </header>

<!--main-->

    <div class="text my-top-5">
       <h2>Save your spots </h2> 
      <h3>all over the world</h3>
 <li class="logo"><b>forever discoverers</b></li>



    

      <!--
      <h2>Never Stop</h2> 
      <h3>Exploring The World</h3>  -->

     

   

    <a  style="color:black"  class="btn btn-primary my-5 " href="/login">Login</a>
    <a  class="btn" href="/signup"><b> Register</b> 

</a>

   
    </div>
  <ul class="social">
      <li><a href="#" class="fas fa-user-alt fa-3x"></a></li>
      <li><a href="#" class="fab fa-github fa-3x"></a></li>
      <li><a href="#" class="fab fa-linkedin fa-3x"></a></li>
<li> <p class="p"> Access data:Name: Aurel | Password: Aurel123</p></li>
    </ul>
      
  </section>


