<section class="login-section">
  <a class="none " href="/">
    <i class=" none fas fa-arrow-circle-left px-1 fa-2x"></i> </a>
  <form class="login-form" action="/login" method="POST">
    <h1>
      <a href="/"><i class="fas fa-wave-square header-name text-primary"></i></a>
      LOGIN
    </h1>
    <p class="m" style="color: rgb(98, 98, 98);">
      Username: Aurel | Password: Aurel123
    </p>
    <div class="textb">
      <input type="text" name="username" />
      <div class="placeholder">
        Username
      </div>
    </div>
    <div class="textb">
      <input type="password" name="password" />
      <div class="placeholder">
        Password
      </div>
    </div>
    {{#if message}}
      <p style="color: rgb(70, 116, 109);">
        {{message}}
      </p>
    {{/if}}
    <button style="color:black" class="btn btn-primary my-3 login-button" type="submit">
      LOGIN
    </button>
    <a href="/signup">
      Don't have an account?
      <b class="px-05">
        Register
      </b>
    </a>
  </form>
</section>