<section class="showcase">
  <a class="none " href="/">
    <i class=" none fas fa-arrow-circle-left px-1 fa-2x"></i> </a>
  <form class="login-form" action="/signup" method="POST">
    <h1>
      <a href="/"><i class="fas fa-wave-square header-name text-primary"></i></a>
      REGISTER
    </h1>
    <div class="textb">
      <input type="text" name="username" />
      <div class="placeholder">
        Username
      </div>
    </div>
    <div class="textb">
      <input type="password" name="password" />
      <div class="placeholder">
        Password
      </div>
    </div>
    {{#if message}}
      <p style="color: rgb(242, 108, 247)">
        {{message}}
      </p>
    {{/if}}
    <button class="my-3  btn btn-primary" type="submit">
      REGISTER
    </button>
    <a href="/login">
      Already have an account?
      <b class="px-05">
        Login
      </b>
    </a>
  </form>
</section>