<section>

  <!--toggle-->
  <input type="checkbox" id="check" checked>
  <label for="check">
    <i class="fa fa-bars " aria-hidden="hidden" id="btn"> </i>
    <i class=" toggle-icon" id="cancel"></i>
    </i>
  </label>

  <!--sidebar-->
  <div class="sidebar">
    <header class="flexbox-between p-2">
      <h2><i class="fas fa-wave-square header-name "></i>WANDER</h2>


  <!--darkmode-->
      <div style="padding-top: 0.5rem;">
        <label class="toogle">
          <input id="theme-toggle" class=" switch " type="checkbox">
          <span class="d-block-light d-none"></span>
        </label>
      </div>
    </header>

  <!--cardbody-->
    <div class="card-container">
      <div class="card-body">

        <div class=" pulse  ">
          <a href="/favoritesPlaces" class="  ">
            <i style="" class=" fas fa-wave-square fa-10x m-1"></i>
          </a>
        </div>


        <div class="desc p-2">
          <div class="sm ">
            <a href="https://ahoi-world.netlify.app/" target=“_blank“ rel=“noopener noreferrer“class="fas fa-user-alt"></a>
            <a href="https://github.com/lilanika" target=“_blank“ rel=“noopener noreferrer“class="fab fa-github"></a>
            <a href="https://www.linkedin.com/in/lilanika/" target=“_blank“ rel=“noopener noreferrer“ class="fab fa-linkedin"></a>
          </div>
        </div>


      </div>
    </div>

    <!--footer-->

    <footer class="footer ">
      <div class=" flexbox-between ">

        <div class="footer-item footer-padding ">
          <span>120</span>
          <a href="/#">Places</a>
        </div>

        <div class="footer-item footer-padding ">
          <span class="px-05">127</span>
          <a href="/#">Following</a>
        </div>

        <div class="footer-item footer-padding ">
          <span>120K</span>
          <a href="/#">Followers</a>
        </div>

      </div>
    </div>

  </footer
  <!--sidebar-->
</section>