

<section class=" nav">  

<!--toggle-->
    <input type="checkbox" id="check">
    <label for="check">   
      <i class="fa fa-bars " aria-hidden="hidden" id="btn">  </i>  
        <i class=" toggle-icon"  id="cancel"></i>
        </i>
    </label> 
  
<!--sidebar-->
    <div class="sidebar">  
   <header><h2 class="header-name"> Wander</h2></header>
    

<!--searchbar-->
     
        <div class ="search-bar ">
             <div id="geocoder" class="geocoder"></div>
          <a href="/favoritesPlaces" >
          <button class="btn btn-primary" id="saveLocation" >+</button></a>
           </div>    



    <div class="profile-card">
      <div class="card-header">

          <div classs="p-2">
   <a href="/favoritesPlaces" class="btn flexbox-column btn-dark"> 
      <i class="fas fa-map-marked-alt fa-7x p-2"></i>
      <p class="p"> go to your saved locations</p>
     </a>
</div>


       <div class="desc"> 
         <p> share the Map</p>    
        <div class="sm ">
          <a href="#" class="fab fa-facebook-f"></a>
          <a href="#" class="fab fa-twitter"></a>
          <a href="#" class="fab fa-github"></a>
          <a href="#" class="fab fa-youtube"></a>
        </div>
        </div> 


    </div>
    </div>
      

       
      <div class="card-footer">
        <div class="numbers">
          <div class="item">
            <span>120</span>
           <a href="/#">Places</a>
          </div>
          <div class="border"></div>
          <div class="item">
            <span>127</span>
              <a href="/#">Following</a>
          </div>
          <div class="border"></div>
          <div class="item">
            <span>120K</span>
            <a href="/#">Followers</a>
          </div>
        </div>
            </div>
  
  
  


  
      </div> <!--sidebar-->
   </section>


  
