

<section class=" nav">  

<!--toggle-->
    <input type="checkbox" id="check">
    <label for="check">   
      <i class="fa fa-bars " aria-hidden="hidden" id="btn">  </i>  
        <i class=" toggle-icon"  id="cancel"></i>
        </i>
    </label> 
  
<!--sidebar-->
    <div class="sidebar">  
    <header class="flexbox ">
   
   <h2><i class="fas fa-wave-square header-name "></i></h2>
   <span class="p">|</span> 
   
   <span class="tag-color">spots </span></header>
    

<!--searchbar-->
      <div class ="search-bar">
             <div id="geocoder" class="geocoder"> 
             </div>
              <a href="/favoritesPlaces" >
            <button class = "btn btn-primary " id="saveLocation" > + </button></a>
           </div>



    <div class="profile-card">
      <div class="card-header">

        
 <div class="card-scrollbar">
      
       {{#each places}}
    <a href="/favoritesPlaces/{{this._id}}">

    <div class="p list animation">
     
    
    <h3 class="p" >{{name}} </h> 
     <p class="category-color" > {{tag

}}</p>

       </div>
    </a>

</form> 


{{/each}}
</div>

<form action="/favoritesPlaces/filter" class = "form  list " method="POST">

  <label for="tag"></label>
  <select name="tag" id="tag">
    <option selected> tag...</option>
    <option value="Food">Food</option>
    <option value="Bar">Bar</option>
    <option value="Park">Park</option>
    <option value="Sports">Sports</option>
    <option value="Culture">Culture</option>
    <option value="Club">Club, Party!!!</option>
  </select>
   <button class=" btn btn-dark" type="submit">Filter</button>  


  <!--<a class="buttonUser" href="/favoritesPlaces"> all places</a> -->
</form>



      

    </div>
    </div>
       
      <div class="card-footer ">
        <div class="numbers">
          <div class="item p">
            <span><i class="fas fa-house-user "></i></span>
             <a class="nav" href="/homepage" class=> Home</a> 
          </div>
          <div class="border"></div>
          <div class="item p">
            <span>  <i class="fas fa-map-marked-alt fa-1x"></i></span>
               <a class="nav" href="/favoritesPlaces" class=>Spots</a>
          </div>
          <div class="border"></div>
          <div class="item p">
            <span><i class="fas fa-sign-out-alt"></i></span>
            <a class="nav" href="/logout" class=> Logout</a>
          </div>
        </div>
            </div>
  
  
  


  
      </div> <!--sidebar-->
   </section>

