
/*landingpage Layout---> Brad Travery Herz! 

/* Login and SignUp */ 

.showcase {
  position:absolute;  
  right:0;
  width: 100%;
  min-height:100vh;
  padding:100px;
  display:flex;
  /*justify-content: space-between; */
  align-items: center;
  /*background-color: var(--card-color);  */
  z-index: 2;
  transition: 0.5s;
  }
  
  

  .logo{
  text-transform: uppercase;
  cursor:pointer;
  float:right;
  margin-left: 2rem;
  }
  
  
  .social {
    position:absolute; 
    bottom: 20px;
    z-index:10; 
    display:flex;
    justify-content:center; 
    align-items: center;
    color:black;
    
  }
  
  .social li {
    list-style:none;
 
  
  

  }
  
  .social li a {
    display: inline-block;
    filter:invert(1);
    margin-right: 20px;
    transform: scale(0.5);
    transition:0.5s;
    color:black;
  
  }
  
  .social li a:hover {
    transform: scale(0.5) translateY(-15px);
  }
  


  /*landingpage*/ 

.text {
  position:relative;
  z-index:10;
}

.text h2 {
  font-size:5rem;
  font-weight: 800;
  line-height:1em;
  text-transform:uppercase;
  color:black !important;
}

.text h3 {
  font-size:4rem;
  font-weight: 800;
  line-height:1em;
  text-transform:uppercase;
  background-color:var(--primary-color)
  
  
}

.text p,
.text button {
  font-size: 1.1em;
  margin: 20px 0; 
  font-weight:400;
  max-width: 700px;
}

.text a, 
.text button {
  display:inline-block;
  font-size: 1em;
  background:white;
  padding: 10px 30px;
  text-decoration: none;
  color:rgb(70, 65, 65);
  margin-top:10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}





.showcase {
background-color: #efeeea;
opacity: 0.9;
}




.showcase header {
position: absolute;
top:0;
left:0;
width:100%;
padding:40px 100px;
z-index:1000;
display:flex;
align-items: center;
justify-content: space-between;  
}
