.flexbox {
  display: flex;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.flexbox-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flexbox-evenly {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
  align-items: center;
}

.flexbox-between {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  align-items: center;
}

.block {
  display: block;
}

/* Text Styles*/

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.grey {
  color: rgb(184, 181, 181);
}

.text-dark {
  color: var(--dark-color);
}

.text-secondary {
  color: var(--primary-color) !important;
}

/* Padding */

.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

.p-3 {
  padding: 0 0 2rem 0;
}

.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.px-3 {
  padding: 0 3rem;
}

.px-05 {
  padding: 0rem 0.5rem;
}

/* Margin */

.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 5rem 0;
}

.my-top-5 {
  margin: 5rem 0 0rem 0;
}

.my-3-bottom {
  margin: 0 0 3rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

/*buttons */

.btn {
  /* display: inline-block; */
  background: var(--grey-color);
  color: var(--primary-color);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border: none;
}

/*special div  */
.secondary-div {
  letter-spacing: 2px;
  transition: 0.2s;
  color: var(--secondary-color);
  font-size: 0.8rem;
  font-weight: 100;
}

/* special btn 4thisDesign*/

.searchbar btn {
  height: 40px;
}

.nav-btn:hover {
  color: var(--secondary-color) !important;
}

.btn-primary,
.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.secondary-btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  color: var(--secondary-color);
  background-color: transparent;
  border: none;
  border-radius: 6px;
  /* transition: .3s linear; */
  letter-spacing: 2px;
  /* transition: 0.2s; */
  margin: 1rem;
  font-size: 0.8rem;
}

.secondary-btn:hover {
  color: var(--button-color);
}

.btn:hover {
  opacity: 0.8;
}

.focus:focus {
  background-color: var(--secondary-color);
}

.bg-light,
.badge-light {
  border: #fbfbfb;
  border-radius: 3rem;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 10rem;
  padding: 0.3rem !important;
  color: var(--secondary-color);
}

.form p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: var(--secondary-color);
  font-weight: 700;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: var(--secondary-color);
  color: var(--footer-color);
}


.form input[type="password"],
.form input[type="text"] {
  padding: 0.4rem;
  padding-left: 0.8rem;
  transform: capitalize;
  border-radius: 0.5rem;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border: none;
}

.flexbox-edit-place {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.edit-place {
  background-color: white;
}
.rating-class {
  padding-right: 1rem;
  margin-top: 2rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  border: none;
}

.form input[type="number"] {
  /* width:4rem;
  border: 2px solid var(--footer-color); */
  padding-left: 0.5rem;
  background: var(--body-color);
  border: none;
}

.form placeholder {
  color: var(--secondary-color) !important;
}

.form input[type="submit"],
button {
  font: inherit;
}

/* hover*/

.form input:hover[type="description"],
.form input:hover[type="tag"] {
  display: block;
  width: 50px;
  padding: 1rem;
  padding-left: 0.8rem;
  transform: capitalize;
  border-radius: 0.5rem;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.form input:hover[type="rating"] {
  border-color: black;
}

.form input:hover[type="description"],
.form input:hover[type="tag"],
.form input:hover[type="select"],
.form input:hover[type="number"],
.form select:hover {
  color: var(--button-color);
}


textarea {
  padding: 2rem !important;
  height: 40vh;
  width: 55vh;
  color: var(--secondary-color);
  border: 2px solid var(--footer-color);
  font-size: 0.8rem;
  color: var(--font-color);
  /* font-weight: 600; */
}

textarea:hover {
  color: var(--secondary-color);
  border: 2px solid var(--footer-color);
}

.mapboxgl-ctrl-geocoder--input {
  font: inherit;
  width: 100%;
  border: 0;
  background-color: transparent;
  margin: 0;
  height: 50px;
  color: var(--secondary-color);
  padding: 6px 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
