
 #map {
  /*position: absolute; */
 position: absolute;
   top: 0;
   bottom: 0;
   width:100%;
   height: 100vh;
   z-index: -1; 
 }


/* searchbar*/ 

.search-bar {
  display:flex;
  justify-content: center;
  text-align: center;
  /* padding: 0 2rem; */
   margin-bottom: 2rem; 
  align-items: center;
  width:433px;
  
}

.flexbox-searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
}



/*searchbar*/



.geocoder {
  z-index: 1;
  width: 100%;
  padding: 0.5rem

}


.mapboxgl-ctrl-geocoder {
  min-width: 100%;
  background-color:var(--footer-color); 
  color:var(--font-color); 
}


.mapboxgl-ctrl-geocoder--suggestion{
  font-size:1rem;
  padding:0.5rem;
}

.mapboxgl-ctrl-geocoder--icon-search {
  left: 1rem;
  width: 20px;
  height: 20px;
  top: 1rem;
}

.mapboxgl-ctrl-geocoder .suggestions {
  background-color: var(--body-color);
  color: var(--font-color);
  border-radius: 4px;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 110%;
  top: calc(100% + 6px);
  z-index: 1000;
  overflow: hidden;
  font-size: 15px;

}


.mapboxgl-ctrl-geocoder .suggestions::marker {
  background-color: var(--body-color);
  color: var(--font-color);
  border-radius: 4px;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 110%;
  top: calc(100% + 6px);
  z-index: 1000;
  overflow: hidden;
  font-size: 15px;

}



.mapboxgl-ctrl-geocoder, .mapboxgl-ctrl-geocoder .suggestions {
  box-shadow:none;
  
}



.mapboxgl-ctrl-geocoder--input {
  font: inherit;
  width: 100%;
  border: 0;
  background-color: transparent;
  margin: 0;
  height: 50px;
  color: var(--secondary-color);
  padding: 6px 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}